<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="./../../assets/pics/bimal-profile-pic.jpeg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">{{navHeaderName}}</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="bi-star-fill"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Full Stack Java - Web Application Developer - AEM</p>
        <p>Oracle Certified Associate, Java SE 7 Programmer</p>
        <p>Adobe Certified Expert AEM 6 Developer </p>
    </div>
</header>
